.restCardContainer {
  border: 1px solid black;
  display: flex;
  flex-wrap: nowrap;
  width: 650px;
  height: 210;
  padding: 24px;
  margin: 24px;
}

.restCard {

}


// rest img tags!
.restPic {
  padding: 5px;
  width: 200px;
  height: 200px;
  border-radius: 5%;
}