
@import 'fonts';
@import 'restCard';
@import 'restContainer';


body {
  font-family: arial, Helvetica, sans-serif;
  //text-align: center;
  background-image: url('../assets/hamburg.jpg');
  //background-repeat: no-repeat;
  background-size: 100%;
  //background-size: 100%; 
  padding: 30px;
}

h1 {
  font-family: 'Fascinate Inline';
  font-size: 62px;
}

#mmhHeader {
  text-align: center;
}

.mainContainer {
  //border: 1px solid red;
  //display: flex;
  //flex-wrap: nowrap;
  //width: 85%;
  //align-content: center;
}

.searchContainer {
  border: 1px solid black;
  margin: 35px;
  padding: 20px;
  font-family: 'Fredoka One';
  font-size: 22px;
}

input {
  margin: 1px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  height: 18px;
  width: 400px;
}

// grub
#grubButton {
  margin: 10px;
  font-size: 16px;
  border: 1px solid grey;
  transition: ease 1s;
  font-family: 'Potta One', cursive;
  border-radius: 25px; 
  width: 300px;
  background-color: white;
}

#grubButton:hover{
  //background-color: rgb(255, 217, 184, 0.5);
  color: black;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24), 0 1px 1px 0 rgba(0,0,0,0.19);
}

#grubButton:focus{
  outline: none;
}

.resultsContainer {
  //border: 1px solid green;
  width: 1000px;
}

